.counter {
  background: rgb(243, 195, 69);
  text-align: center;
  line-height: 20px;
  min-width: 20px;
  height: 20px;
  color: #000;
  border-radius: 50%;
  font-size: 12px;
  pointer-events: none;
}
